.backButton {
	flex-grow: 1;
  text-align: center;
  display: inline-block;
  color: white;
  height: 10%;
  width: 50%;
}

.button {
	font-size:15px;
	padding: 10px;
	position: center;
	top:50%;
	text-decoration: none;
 	border-color: transparent;
	border-radius: 20px;
}

.anchor
{
	color: #000000;
	text-decoration: none;
}

.anchor:hover
{
	color: purple;
}