.Box {
  text-align: center;

  display: inline-block;
  color: white;
  background-color: #484B63;
  height: 50vh;
  width: 50%;
}

.button {
	position: relative;
	top:50%;
}
/* 
.Box {
  text-align: center;
  display: inline-block;
  color: white;
  background-color: #484B63;
  height: 50vh;
  width: 50%;
}

.button {
  padding: 10px;

	position: relative;
	top:50%;
	text-decoration: none;
 	border-color: transparent;
	border-radius: 20px;
	font-size:20px;
	font-color:black;
}

.anchor
{
	color: #000000;
	text-decoration: none;
}

.anchor:hover
{
	color: purple;
} */