.recipe-container {
	white-space: nowrap;
	margin-bottom: 10px;
	padding-top: 10px;
}

.picture, .content {
	display: inline-block;
	vertical-align: top;
}

.picture {
	margin-right: 10px;
	max-width: 20%;

}

.content {
	width: 60%;
}

.recipe-button {
	background-color: #9DB5B2;
    border: none;
}