.Header {
	background: #024646;
	color: white;
	
	text-align: center;
	
	padding-top: 5px;
	padding-bottom: 5px;
	height: 40px;
	width: 100%;
}

.float-text
{
	text-align: left;
	font-family: Candara;
	font-size: 20px;

	
}
.float-div
{
	display: inline-block;
	float: center;
	width: 200px;
	text-align: left;
}
